<div class="w-11/12 pt-10 mx-auto flex flex-col">
  <h1 class="text-3xl font-bold text-primary">Start Workout</h1>
  <div class="quickstart mt-7 flex flex-col">
    <h3 class="text-lg">Quickstart</h3>
      <%= link_to new_workout_path do %>
        <div class="btn btn-primary mt-3 w-full">
          Start an Empty Workout
        </div>
      <% end %>
  </div>
</div>
