<div class="w-11/12 pt-10 mx-auto flex flex-col">
  <h1 class="text-3xl font-bold">Create a Workout Template</h1>
  <div class="workout_start mt-7 flex flex-col">

    <%= render "templates/template_form", template: @template %>

  </div>
</div>