<div class="w-11/12 h-auto pt-10 mx-auto flex flex-col">

  <div>
    <h1 class="text-3xl font-bold text-primary">Your GainLog</h1>
    <div class="quickstart mt-7 flex flex-col">
      <h3 class="text-lg">Quickstart</h3>
      <%= link_to new_workout_path do %>
        <div class="btn btn-primary mt-3 w-full">
          Start an Empty Workout
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-14 w-full">
    <h2 class="text-2xl font-bold text-secondary">Recent Workouts</h2>
    <div class="flex flex-col flex-wrap gap-3 mt-4">
      <%= render "workouts/workout_list", workouts: @recent_workouts %>
    </div>
  </div>

</div>
